body {
  background-color: #222;
}

.app-box {
  background: #fff;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.emoji {
  font-size: 48px;
  cursor: pointer;
}

.emoji:hover {
  transform: scale(1.1);
}

.winner {
  font-size: 70px;
}